!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Be on the same list
  %body
    %h1
      Analyzing #{h params[:name]}
    #process

= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"
= javascript_include_tag "application"